.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.validation{
    background-color:#f8a488;
    text-align: center;
    min-width: 250px;
    max-width: 20%;
}

input{
border: 1px solid black;
border-top: 0px ;
margin-left: 3px;
}
.user-data{
    background-color: aquamarine;
    border: 1px solid green;
}
.submit-btn{
    
   background-color:white; /* Green */
  border: 1px solid #4CAF50;
  color: black;
  padding: 12px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}
.submit-btn:hover {
  background-color: #4CAF50;
  color: white;
}
label{
    font-size: 15px ;
}